{% extends "base.html" %}

{% block page_content %}
    <h1>Short URL service</h1>
    <p>Type your url and press button</p>
    <form method="POST" action="{% url homepage %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="submit" value="Make short URL" />
    </form>

    {% if short_url %}
        <br>
        <h2>Result</h2>
        Your short URL is: <input type="text" value="{{short_url.shor_absolute_url}}" />
        <a href="{{short_url.shor_absolute_url}}" target="_blank">open</a>
    {% endif %}
{% endblock %}