{% extends "base.html" %}

{% block head_title %}Login - {% endblock %}

{% block page_content %}
    <h1>Login</h1>

    {% comment %}<form method="POST" action="{% url account_login %}?next={{ request.GET.next }}>{% endcomment %}
    <form method="POST" action="{% url account_login %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" class="submit" value="Login &raquo;" />
    </form>
{% endblock %}