{% extends "base.html" %}

{% block head_title %}My links - {% endblock %}

{% block page_content %}
    <h1>My links</h1>
    <table style="width: 100%; border: 1px solid;">
        <thead>
            <tr>
                <th>url</th>
                <th>short</th>
                <th>counter</th>
                <th>created</th>
                <th>last redirect</th>
            </tr>
        </thead>
        <tbody>
            {% for l in links %}
            <tr style="background-color: #dddddd;">
                <td>{{ l.url }}</td>
                <td><a href="{% url redirect_short_url l.short_url %}">{{ l.shor_absolute_url }}</a></td>
                <td>{{ l.hit_counter }}</td>
                <td>{{ l.created }}</td>
                <td>{{ l.last_redirect }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}