{% extends "base.html" %}

{% block head_title %}Sign up - {% endblock %}

{% block page_content %}
    <h1>Sign up</h1>

    <form method="POST" action="{% url accountt_signup %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" class="submit" value="Sign up &raquo;" />
    </form>
{% endblock %}