<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %}{% endblock %}Small URL service</title>
        {% block head_extra %}{% endblock %}
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <p style="background-color: yellow;">
                    {% if message.tags %}({{ message.tags }}){% endif %} {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <a href="{% url homepage %}">Home</a> |
        {% if user.is_authenticated %}
            <a href="{% url accountt_my_links %}" rel="nofollow">My Links</a> |
            <a href="{% url account_logout %}?next={{ request.path }}" rel="nofollow">Exit ({{ user }})</a>
        {% else %}
            <a href="{% url accountt_signup %}" rel="nofollow">Sign up</a> |
            <a href="{% url account_login %}" rel="nofollow">Login</a>
        {% endif %}
        <hr>
        {% block page_content %}{% endblock %}
    </body>
</html>